<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/">Mohamed Chiheb Eddine</a>
  </div>
  <ul class="navbar__links" [class.active]="menuOpen">
    <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a></li>
    <li><a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Services</a></li>
    <li><a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">Projects</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
  </ul>
  <div class="navbar__burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar__overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>
</nav>
