<footer class="footer">
  <div class="footer__nav">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <div class="footer__social">

    <a href="https://www.linkedin.com/in/mohamed-chiheb-eddine-benammar-0aa456284/" target="_blank"
      aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100004474756575" target="blank" class="footer__social-link">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/chiheb_benammar/" target="blank" class="footer__social-link">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <!-- Add other social networks if needed -->
  </div>


  <div class="footer__quote">
    <q>"Success is not the key to happiness. Happiness is the key to success."</q>
  </div>
  <div class="footer__copyright">
    Mohamed Chiheb Eddine
  </div>
</footer>
<!-- Add FontAwesome in index.html if not already done -->
